<div class="text-center">
    <h2>{{name}}</h2>
    <img src="public/pictures/{{img}}" width="200"
         height="200"></img>
    <!--    <p>{{{img}}}</p>-->
    <p>{{description}}</p>
    <p>{{size}}</p>
    <label for="project-price">$ {{price}}</label>

    <!--  <p>{{project.price}}</p>-->
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <!--  <p>-->
    <!--    <span for="img" aria-label="money">💲</span>-->
    <!--&lt;!&ndash;    <span class="dollar-amount">{{format_amount project.price}}</span>&ndash;&gt;-->
    <!--        <p>{{project.price}}</p>-->

    <!--  </p>-->
    <p>
        <button class="btn btn-primary">Buy this Product!</button>
    </p>
</div>
